 a {
    color: #4ba1b5; 
 }

a:hover {
    color: #2e879b;
}

 a.active {
    color: #107890;
    font-weight:bold;
} 

a.btn-info {
    width: 90%; 
}

div.intro-video{
    width: 80%;
    margin: 10px;
}

h2 {
    color: #107890;
}

.quote {
    font-style: italic;
    color: #107890;
}

.pbutton {
    background-color: #2e879B; 
    border: none;
    color: white;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    position: relative;
}

.sbutton {
    background-color: #2e879B; 
    border: none;
    color: white;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    position: relative;
}


.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
