body {
	background: url(../img/header.jpg);
	background-size: cover;
	background-position: center;
}

body, html {
	width: 100%;
	height: 100%;
}

div.container-fluid{
	padding-top: 2.5%;
}

a {
	color: #a9dde9;
}

a.active {
	color: tan;
	font-weight:bold;
}

a:hover{
	color: #107890;
}

div.text-center {
	position: relative;
	top: 25%;
}

h4 {
	color: #a9dde9;
}